# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=10000
HISTFILESIZE=20000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

sshkeys=$(find $HOME/.ssh -type f -name 'id*' ! -name '*.pub' -printf "%f\n")

if [[ $sshkeys ]] && [[ -x /usr/bin/keychain ]]; then
  # For Loading the SSH key
  /usr/bin/keychain --quiet --nogui ${sshkeys}
  source $HOME/.keychain/$HOSTNAME-sh
fi

export EDITOR=vim
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

{{- if eq .chezmoi.os "linux" }}
export PATH="$HOME/.local/share/aquaproj-aqua/bin:$PATH"
{{- else if eq .chezmoi.os "windows" }}
export PATH="$(aqua root-dir)/bin:$PATH"
{{- end }}
export AQUA_GLOBAL_CONFIG="$HOME/.config/aquaproj-aqua/aqua.yaml"

export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'
export FZF_DEFAULT_OPTS='--height=40% --layout=reverse'

[[ -s "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

for file in ~/.{bash_prompt,aliases,functions,path,exports}; do
  if [[ -r "$file" ]] && [[ -f "$file" ]]; then
    # shellcheck source=/dev/null
    source "$file"
  fi
done
unset file

command -v starship &> /dev/null && eval "$(starship init bash)"
command -v fzf &> /dev/null && eval "$(fzf --bash)"
command -v fnm &> /dev/null && eval "$(fnm env --use-on-cd --shell bash)"
