[alias]
	alias=!git config -l | grep ^alias | cut -c 7- | sort
	co = checkout
	contributors = shortlog --summary --numbered
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -s
[core]
	autocrlf = false
	eol = lf
[user]
	email = {{ .email }}
	name = Lukas Schmitt
[fetch]
 	prune = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
