[alias]
    a = add
    aa = add .
    alias=!git config -l | grep ^alias | cut -c 7- | sort
    c = commit
    cm = commit -m
    ca = commit --amend --no-edit
    co = checkout
    cob = checkout -b
    contributors = shortlog --summary --numbered
    d = diff
    ds = diff --staged
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    p = push
    pf = push --force-with-lease
    s = status -s
    st = status
[core]
    autocrlf = false
    eol = lf
[user]
    email = {{ .email }}
    name = Lukas Schmitt
[fetch]
    prune = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
    autoStash = true
